<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAuth 2.0 Demo</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Auth 2.0 Demo to increase my chances of getting hired by Raidiam!</h1>
        <img src="https://www.raidiam.com/hubfs/favicon.svg" alt="Raidiam Logo" style="width: 150px; margin-bottom: 2rem;">
        <% if (isAuthenticated) { %>
            <p>Hello, <%= user.getName() %>!</p>
            <div class="link-list">
              <a href="/profile">View Profile</a>
              <a href="/logout">Logout</a>
            </div>
        <% } else { %>
            <p>Please log in to continue.</p>
            <a href="/login">Login with Auth0</a>
        <% } %>
    </div>

    <div class="footer">
        <p>Made by Andrew Monteiro</p>
    </div>
</body>
</html>
